body {
    margin: 0 0 0 0;
}

.timer-container {
    background-image: url(/Image/Background_Image.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.timer {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #000;
    outline: none;
    background-color: #FFF;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #000;
    color: #FFF;
}