body {
    margin: 0 0 0 0;
}

#flex-container {
    display: flex;
    flex-direction: column;
}

#top-container {
    height: 70px;
    display: flex;
    flex-direction: row;
}

#top-left {
    width: 50%;
    display: flex;
    flex-direction: row;
}

#logo {
    margin: 25px 0 0 25px;
}

.menu {
    margin: 1em 0 0 1.5em;
}

.menu h3 {
    color: #565e6c;
}

.menu :hover {
    color: #00bdd6;
}

#top-right {
    width: 50%;
    display: flex;
    flex-direction: row;
}

#Search1 {
    margin: 25px 0 0 210px;
    width: 335px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    background: #f3f4f6;
}

.top-image {
    margin: 25px 15px 0 15px;
}

#center-container {
    border-top: 1px solid #f3f3f4;
}

#title-small {
    display: flex;
    flex-direction: row;
    margin: 25px 0 0 155px;
}

#title-big {
    margin: -40px 0 0 155px;
    display: flex;
    flex-direction: column;
}

#title_h1 {
    margin-bottom: -13px;
}

#title_rating {
    display: flex;
    flex-direction: row;
}

#title_rating_h3 {
    margin: -20px 0 0 5px;
}

#title_rating_left {
    display: flex;
    flex-direction: row;
    width: 50%;
}

#title_rating_right {
    display: flex;
    flex-direction: row;
}

#title_rating_right_share {
    margin: 0 0 0 260px;
}

#title_rating_right_save {
    margin: 2px 0 0 50px;
}

#center-banner-grid {
    display: grid;
    grid-template-columns: 585px auto auto;
    width: 1185px;
    height: 435px;
    margin-left: 153px;
    column-gap: 15px;
}

#banner2 {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 15px;
}

#banner3 {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 15px;
}

#bottom-container {
    background-color: brown;
}